#---------------------------------------
# ignoruj w projekcie JMedicalClinic
#---------------------------------------

# podkatalogi katalogu głównego

.settings/
target/
test-output/
jdbc/

# pliki w głównym katalogu

# /.gitignore
/.springBeans
/.project
/.classpath
/manifest
#/nb-configuration.xml
#/nbactions.xml

# pliki w każdym katalogu

*.doc#
*.log
*.log.*
*.ldb

#---------------------------------------
# Compiled source #
#
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
#
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


/target
