<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
          
<hibernate-configuration>
 <session-factory>  <!-- delete property "name" 24.09.2013 - for not bind to JNDI -->
  
  <!-- Connection for HSQL -->   
  <property name="hibernate.connection.driver_class"> org.hsqldb.jdbcDriver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
  <property name="hibernate.connection.url">jdbc:hsqldb:file:/C:/JS/Java/JSMedClinic2/db-settings/fake-database-hsql/jsmedclinic</property>         
  <property name="hibernate.connection.username">SA</property>
  <property name="hibernate.connection.password"></property>      
  <property name="hibernate.default_schema">PUBLIC</property>    
  <property name="hibernate.connection.useUnicode">yes</property>
  <property name="hibernate.connection.characterEncoding">UTF-8</property>       
  <property name="hibernate.cache.use_minimal_puts">false</property>
  <property name="hibernate.cache.use_query_cache">false</property>
  <!-- wyświetlanie wyrażeń sql na konsoli -->
  <property name="hibernate.show_sql">false</property>
  <property name="hibernate.format_sql">false</property>
    
  <!-- Ustawienia puli połączeń poprzez c3p0 --> 
  <property name="hibernate.connection.provider_class">
      org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider
  </property>
  <property name="hibernate.c3p0.idle_test_period">30</property>
  
  <!--
    This value is an indication of the number of seconds 
    a connection can remain pooled but unused before being discarded. 
    Zero means idle connections never expire. --> 
  
  <property name="hibernate.c3p0.timeout">120</property>
  <property name="hibernate.c3p0.max_size">5</property>
  <property name="hibernate.c3p0.min_size">1</property>
  <property name="hibernate.c3p0.max_statements">0</property>
  
  <!-- Cache : Disable the second-level cache -->
  <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>  
  <!-- 
  Wymagane dla obslugi wielu zapytań do bazy w trakcie pojedynczego żądania HTTP  -->  
  <property name="current_session_context_class">thread</property> 
  
  <!-- pliki mapowań ORM -->
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/queries.hbm.xml"/>
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/Patient.hbm.xml"/>
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/Doctor.hbm.xml"/>
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/Kasach.hbm.xml"/>
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/Clinic.hbm.xml"/>
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/MedProcedureCat.hbm.xml"/>
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/MedProcedureType.hbm.xml"/>
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/MedProcedure.hbm.xml"/>
  <mapping resource="pl/jasox/medward/model/domainobject/hibernate/Admission.hbm.xml"/>
  
  <!-- -->
 </session-factory>
</hibernate-configuration>

